@media only screen and (max-width: 900px) {
  #mb-container {
    margin: 0, 20%;
  }
}
@media only screen and (max-width: 637px) {
  /* ',' denotes these two classes will share the styles inside this block */
  .open-since-column, .time-open-column {
    display: none; 
  }
}


#mb-table {
  margin-top: 15px;
}

#mb-links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5em;
}

#form-inline {
  margin-bottom: 20px;
}

#new-post-title, #new-post-content {
  margin-right: 5px;
}

#mb-table {
  margin-left: 50px;
  /* display: block;
  border: 4px solid green;
  border-radius: 5px;
  text-align: center; */
}

img {
  width: 75%;
  height: 48vh;
  margin-top: 10px;
}